#top-menu{
    background: #fbfbfb;
    border-bottom: 1px solid #ececec;
    height: 31px;
}

#main-menu {
    background: #1291cd linear-gradient(#1291cd, #1291cd);
    font-family: 'Open Sans', sans-serif;
    color: white !important;
    color: #FFF;
  
}

li.active > a {
    background: rgb(255, 255, 255);
    color: #000 !important; }

    li.white > a {
        
        color: rgb(255, 255, 255) !important; }

.card {
    margin-bottom: 10px;
}

.card-header {
    background: #1291cd;
    color: white;
    font-family: Arial;
    font-style: italic;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    background: rgb(255, 255, 255);
    color: #000 !important;
}

#arsimi-card {
    background: #000000a1 linear-gradient(#e3e64a, #2525256b);
}

#news-ticker { 
    font-weight: bold;
    display: block;
    font-family: monospace;
    font-size: 15px;
    padding: 2px;
    margin: 0;
    border: 2px solid #1291cd;
    border-radius: 25px;
    
}

#news-ticker .ticker-title {
    display: inline-block;
    margin-right: 10px;
}

#news-ticker ul { 
    display: inline-block;
    position: relative;
}

#news-ticker li a {
    color: #f00;
    text-decoration: none;
}

#news-ticker li a:hover {
    text-decoration: underline;
    color: #00f;
}

#news-ticker li {
    position: absolute;
    left: 0;
    width: 0;
    overflow: hidden;
    height: 1.5em;
    word-wrap: break-word;  
    opacity: 0
}

#news-ticker li.tick {
    -webkit-animation: tick 5s linear;
    
}

@-webkit-keyframes tick {
  0% {
    width: 0;
  }
  5% {
      opacity: 1;
  } 
  90% {
    width: 550px;
    opacity: 1;
  }
  100% {
     opacity: 0
  }
}

#info {
    font-size: 13px !important;
}

